*{
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;

} 
.welcome-page{
    background: url("images/background/h_img.jpg"); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    position: relative; 
   
    
} 
.logo{
  position: absolute; 
  top: 25%; 
  left: 50%;
} 
.welcome-page h1{ 
    position: absolute;
    top: 45%; 
    left: 35%; 
   
    text-align: center; 
    color: aliceblue; 
    font-size: 39px;
} 
.welcome-page p{
    position: absolute; 
    top: 55%; 
    left: 40%; 
   
    text-align: center; 
    color: aliceblue; 
    font-size: 15px;
} 
.mouse-icon{
    position: absolute; 
    top: 65%; 
    left: 53%;
} 
.about{ 
    background-color: beige; 
    height: 70vh;  
    width: 100%;
    position: relative; 

} 
.about h1{
    padding: 71px 0; 
    text-align: center;  
    left: 45%;
} 
.about .p1{ 
    position: absolute; 
    top: 20%;
    left: 35%; 
    width: 30%; 
    margin: 3%; 
    font-size: 17px;
} 
.about .p2{ 
    position: absolute; 
    top: 45%;
    left: 35%; 
    width: 30%; 
    margin: 3%; 
    font-size: 17px;
}   
.services{ 
    background: url("images/background/s_image.jpg"); 
    background-size: cover; 
    background-position: center; 
    height: 50vh; 
    position: relative; 

} 
.services h1{ 
    position: absolute;
    padding: 70px 0; 
    text-align: center; 
    left: 45%; 
    
    color: white;
} 
.services .p1{ 
    position: absolute; 
    top: 45%; 
    left: 35%; 
    width: 45%; 
    font-size: 17px;
    color: white;
  
} 
.services .p2{ 
    position: absolute; 
    top: 58%; 
    left: 35%; 
    width: 45%;  
    font-size: 17px;
    color: white;
} 
.services .p3{ 
    position: absolute; 
    top: 70%; 
    left: 35%; 
    width: 45%; 
    font-size: 17px;
    color: white;
} 
.portfolio{
    background-color: beige;  
    height: 150vh; 
    width: 100%;   
    position: relative;
} 
.portfolio h1{
    position: absolute; 
    padding: 55px 0; 
    text-align: center; 
    left: 40%;
} 
.what-we-do{  
    position: relative;
    width: 100%; 
    margin: auto; 
    display: flex; 
    justify-content: center;  
    vertical-align: top;
    align-items: flex-start; 
    flex-wrap: wrap;
} 
.what-we-do-col{ 

    flex-basis: 21%; 
    padding: 5px; 
    margin: 5.5%; 
}  
.what-we-do-col img{ 
    margin: 12%;  
    display: inline-block; 
    position: relative; 
    top: 50%; 
    left: 30%;
} 
.what-we-do p{
    margin: 3% 0 0 3%; 
    position: relative; 
} 
.what-we-do h3{
    margin: 2%; 
    text-align: center;
}  
.portfolio-icons{
    position: relative;
}
.icons{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
    padding: 92px;  
    margin-left: 12%;
    height: 50vh; 
    width: 60%; 
    justify-content: center;
}   
.icons img{
    margin: 3%;
    max-width: 100%; 
    max-height: 100%;
} 
.contact-page{
    background: url("images/background/c_image.jpg");  
    background-size: cover;  
    background-position: center; 
    height: 55vh; 
    position: relative;
} 
.contact-page h1{
    padding: 70px 0; 
    text-align: center; 
    color: white; 

} 
.contact-page form{
    
    display: grid; 
    grid-template-columns: 300px 300px;  
    justify-content: center; 
    grid-gap: 30px;

    
}  
.contact-page form input{
    height: 48px;  
    text-align: center; 
    background: transparent; 
    border: 1px solid white; 
} 
.contact-page form input::placeholder{ 
    color: white;  
    font-weight: bolder; 
    font-size: 15px;
} 
.contact-page form textarea{  
    height: 78px; 
    width: 539px; 
    margin-left: 28%; 
    background-color: transparent; 
    border: 1px solid white; 
    text-align: center;
} 
.contact-page form textarea::placeholder{
    color: white;  
    font-size: 15px; 
    margin: 6%;

} 







