*{
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;

} 
.welcome-page{
    background: url("images/background/h_img.jpg"); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    position: relative; 
   
    
} 
.logo{
  position: absolute; 
  top: 25%; 
  left: 50%;
} 
.welcome-page h1{ 
    position: absolute;
    top: 45%; 
    left: 35%; 
   
    text-align: center; 
    color: aliceblue; 
    font-size: 39px;
} 
.welcome-page p{
    position: absolute; 
    top: 55%; 
    left: 40%; 
   
    text-align: center; 
    color: aliceblue; 
    font-size: 15px;
} 
.mouse-icon{
    position: absolute; 
    top: 65%; 
    left: 53%;
} 
.about{ 
    background-color: beige; 
    height: 70vh;  
    width: 100%;
    position: relative; 

} 
.about h1{
    padding: 71px 0; 
    text-align: center;  
    left: 45%;
} 
.about .p1{ 
    position: absolute; 
    top: 20%;
    left: 35%; 
    width: 30%; 
    margin: 3%; 
    font-size: 17px;
} 
.about .p2{ 
    position: absolute; 
    top: 45%;
    left: 35%; 
    width: 30%; 
    margin: 3%; 
    font-size: 17px;
}   
.services{ 
    background: url("images/background/s_image.jpg"); 
    background-size: cover; 
    background-position: center; 
    height: 50vh; 
    position: relative; 

} 
.services h1{ 
    position: absolute;
    padding: 103px 0; 
    text-align: center; 
    left: 45%; 
    
    color: white;
} 
.services .p1{ 
    position: absolute; 
    top: 45%; 
    left: 35%; 
    width: 45%; 
    font-size: 17px;
    color: white;
  
} 
.services .p2{ 
    position: absolute; 
    top: 58%; 
    left: 35%; 
    width: 45%;  
    font-size: 17px;
    color: white;
    
  
} 
.services .p3{ 
    position: absolute; 
    top: 70%; 
    left: 35%; 
    width: 45%; 
    font-size: 17px;
    color: white;
    
  
}
